- # app/views/role_events/fields/_role_event_fields.html.haml

%p.col-sm-2.text-right
  %strong Event Date:
%p.col-sm-10= presenter.event_at

%p.col-sm-2.text-right
  %strong Notes:
%p.col-sm-10= presenter.notes
