- # app/views/role_events/fields/_role_interview_event_fields.html.haml

= render :partial => '/role_events/fields/role_event_fields', :locals => { :role => role, :event => event, :presenter => presenter }
